/* ===== โครงหลักของ Map Section ===== */
.map-section {
  display: flex;
  flex-direction: column; /* ✅ เรียงแนวตั้ง */
  width: 100%;
  height: 100%;
  background-color: #000000;
  box-sizing: border-box;
}

.Name-container {
  flex: 0.5;
  display: flex;
  flex-direction: row; /* ✅ จัด Offense / Defense แนวนอน */
  width: 100%;
  height: 100%;
}

/* ===== ส่วนชื่อ Name-section (แถวบนสุด) ===== */
.Nameoffense-section {
  flex: 1;
  background-color: #6b0101;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  color: #ffffff;;
}

.Namedefense-section {
  flex: 1;
  background-color: #000864;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
  font-size: 1.1rem;
  color: #ffffff;
  border-left: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
}

/* ===== ส่วน Map แบ่งเป็น 2 ฝั่ง (แถวล่าง) ===== */
.map-container {
  flex: 9;
  display: flex;
  flex-direction: row; /* ✅ จัด Offense / Defense แนวนอน */
  width: 100%;
  height: 100%;
}

/* ===== ฝั่งซ้าย Offense Map (50%) ===== */
.offense-map {
  flex: 1;
  background-color: #ffebeb;
  border-right: 3px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #d33535;
  width: 100%;
  height: 100%;
}

/* ===== ฝั่งขวา Defense Map (50%) ===== */
.defense-map {
  flex: 1;
  background-color: #000864;
  border-left: 3px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #0d47a1;
  width: 100%;
  height: 100%;
}
