.offense-container {
  flex: 1;
  height: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.offense-row-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 3;
}

.offense-section-red {
  flex: 1;
  background-color: #ffebeb;
  border: 2px solid #f44336;
  display: flex;
  justify-content: center;
  align-items: stretch; /* ✅ ให้ลูก (Map) ยืดเต็มกล่อง */
  box-sizing: border-box;
}

.offense-section-purple {
  width: 100%;
  flex: 1;
  background-color: #f3e5f5;
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
